* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #7175da, #9790f2);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.courses-container {
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.jueces-color {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.link {
  text-decoration: none;
  color: black;
}

.disciplinas-color {
  background-color: #26595f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.entrenadores-color {
  background-color: #57265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.competidores-color {
  background-color: #5f2626;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.calificar-color {
  background-color: #222779;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.comentario-color {
  background-color: #ac5821;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 50%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text-jueces {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: 'Muli';
  padding: 9px 35px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}
.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: 'Muli';
  padding: 9px 35px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

.userorange {
  color: #ff7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
.zoom {
  transition: transform 0.2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.Titulo {
  display: block;
  font-size: 45px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.app-header {
  background-color: #001f61;
  padding: 30px 0;
  width: 100%;

  border-radius: 0 0 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 70%;

  max-height: 100vh;
  overflow: hidden;
  transition: 0.3s;
}
.app-header-navbar {
  background-color: #001f61;
  padding: 30px 0;
  width: 100%;
  border-radius: 0 0 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 100%;

  max-height: 100vh;
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  top: 0;
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.container {
  max-width: 80%;
  margin: 0 auto;
  max-height: 100vh;
  overflow: hidden;
  transition: 0.3s;
}
@media (max-width: 1080px) {
  .container {
    max-width: 75%;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}

.float-container {
  /* border: 3px solid #fff; */
  width: 100%;
  padding: 20px;
}

.float-child {
  width: 25%;
  float: left;
  padding: 10px;
  /* border: 2px solid red; */
}

.float-child-entrenadores {
  /* width: 50%; cambiar a 50% si queremos todo el div  */
  width: auto;
  float: left;
  padding: 10px;
  /* border: 2px solid orange; */
}

.float-child-jueces {
  /* width: 50%; cambiar a 50% si queremos todo el div  */
  width: auto;
  float: left;
  padding: 10px;
  /* border: 2px solid green; */
}

main {
  width: 100%;
  margin: auto;
  /* border: 3px solid grey; */
  display: grid;
  color: black;
  grid-template-rows: 60px 100px 100px 60px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 20px;
}

.div5 {
  background-color: #001f6137;
  grid-row: 1/4;
  grid-column: 4/3;
  margin-left: 60px;
  margin-right: -150px;
  border-radius: 14px;
}
.div6 {
  background-color: #ffffff;
  border-radius: 10px;
  grid-column: 1/ 3;
  grid-row: 1/5;
}

.bg-c-jueces {
  background: #001f61;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.bg-c-disciplinas {
  background: #26595f;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.bg-c-entrenadores {
  background: #57265f;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.bg-c-competidores {
  background: #5f2626;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.bg-c-comentario {
  background: #ac5821;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.card .card-block {
  padding: auto;
}

.center {
  text-align: center;
  color: #ffffff;
}

.registrostitle {
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  bottom: 20px;
}
