<!DOCTYPE html>
<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="a#nymous"
/>
<link rel="stylesheet" href="/css/styles.css" />
<!-- FontAwesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Competidores</title>
  </head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <div class="">
      <div class="py-4 ml-5 mr-5">
        <div class="jumbotron text-white jumbotronimg">
          <h1>
            Bienvenido <a style="color: #ff7500"> [[${#httpServletRequest.remoteUser}]]</a
            ><img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px" />
          </h1>
          <hr class="my-4" />
          <h6 sec:authorize="hasAuthority('COMPETIDOR')">Estos son tus comentarios.</h6>
        </div>
        <div class="card text-white" style="background-color: #ffffffb1">
          <h4 class="card-header text-white" style="background-color: #0d0d0d">Comentarios</h4>
          <div class="card-body table-responsive">
            <h4 class="card-title"></h4>
            <table class="table table-striped">
              <thead class="text-white">
                <tr>
                  <th>Comentario</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="comentarioJuez : ${comentarios}">
                  <td th:text="${comentarioJuez.comentario}">Comentario</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
    <form>
      <input type="button" class="btn btn-primary" value="Volver!" onclick="history.go(-1)" />
    </form>
    <footer th:replace="layout/layout :: footer"></footer>
    <div
      class="floating-text-jueces"
      style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"
    >
      <i class="fa-solid fa-medal" style="color: #ff7500"></i> Gestion de comentarios
    </div>
  </body>
</html>
