<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head">
    <meta charset="utf-8" />
  </head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center">Registro de Disciplinas</h1>
          <div class="card-body">
            <form th:action="@{/crear_disciplina}" th:object="${disciplina}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="nombre_disciplina">nombre_disciplina de disciplina</label>
                <input type="text" class="form-control" name="nombre_disciplina" th:field="*{nombre_disciplina}" placeholder="Escriba su nombre_disciplina" required />
              </div>


                <button type="submit" class="btn btn-success">Registrar</button>
                <a type="cancel" class="btn btn-danger text-light" onclick="window.location='/listarDisciplinas'">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
