<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head">
    <title>Crear disciplina</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center" th:text="${titulo}"></h1>
          <div class="card-body">
            <form th:action="@{/crear_disciplina}" th:object="${disciplina}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="nombre">nombre de disciplina</label>
                <input type="text" class="form-control" name="nombre" th:field="*{nombre}" placeholder="Escriba su nombre" required />
                <input type="hidden" th:field="*{id}" />
              </div>

              <button type="submit" class="btn btn-success">Registrar</button>
              <a type="cancel" class="btn btn-danger text-light" onclick="window.location='/listarDisciplinas'">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
