<style>
  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
</style>
<link rel="stylesheet" href="/css/styles.css" />
<html xmlns:th="http://www.thymeleaf.org">
  <title>Admin Links</title>

  <body>
    <h1 class="Titulo app-header" sec:authorize="hasRole('ADMIN')">Dashboard de Administrador</h1>
    <h1 class="Titulo app-header" sec:authorize="hasRole('USER')">Dashboard de Jueces</h1>

    <h1 class="Titulo app-header" sec:authorize="hasRole('ENTRENADOR')">Dashboard de Entrenadores</h1>
    <div class="float-container">
      <a class="link" href="/listar">
        <div class="courses-container zoom float-child" sec:authorize="hasRole('ADMIN')">
          <div class="course">
            <div class="jueces-color">
              <h1>👨🏻‍⚖️</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Gestion</h6>
              <h2>Gestion jueces</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="listarDisciplinas">
        <div class="courses-container zoom float-child" sec:authorize="hasRole('ADMIN')">
          <div class="course">
            <div class="disciplinas-color">
              <h1>⚽️</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Gestion</h6>
              <h2>Gestion disciplinas</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="#">
        <div class="courses-container zoom float-child" sec:authorize="hasRole('ADMIN')">
          <div class="course">
            <div class="entrenadores-color">
              <h1>🧢</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Consulta</h6>
              <h2>Consultar entrenadores</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="#">
        <div class="courses-container zoom float-child" sec:authorize="hasRole('ADMIN')">
          <div class="course">
            <div class="competidores-color">
              <h1>🎽</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Consulta</h6>
              <h2>Consultar competidores</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="#">
        <div class="courses-container zoom float-child-jueces" sec:authorize="hasRole('USER')">
          <div class="course">
            <div class="calificar-color">
              <h1>💯</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Calificar</h6>
              <h2>Calificar competidores</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="#">
        <div class="courses-container zoom float-child-jueces" sec:authorize="hasRole('USER')">
          <div class="course">
            <div class="comentario-color">
              <h1>🗣</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Comentarios</h6>
              <h2>Agregar comentarios</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="/listarCompetidores">
        <div class="courses-container zoom float-child-entrenadores" sec:authorize="hasRole('ENTRENADOR')">
          <div class="course">
            <div class="jueces-color">
              <h1>🎽</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Gestion competidores</h6>
              <h2>Gestion de competidores</h2>
            </div>
          </div>
        </div>
      </a>

      <a class="link" href="#">
        <div class="courses-container zoom float-child-entrenadores" sec:authorize="hasRole('ENTRENADOR')">
          <div class="course">
            <div class="calificar-color">
              <h1>💯</h1>
            </div>
            <div class="course-info">
              <div class="progress-container"></div>
              <h6>Calificaciones</h6>
              <h2>Consultar califiaciones</h2>
            </div>
          </div>
        </div>
      </a>
    </div>
  </body>
  <form class="d-flex" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
    <input type="submit" class="floating-btn" value="Cerrar sesión" />
  </form>

  <!-- SOCIAL PANEL HTML -->

  <div class="floating-text">Bienvenido <a> [[${#httpServletRequest.remoteUser}]]</a></div>
</html>
