<!DOCTYPE html>
<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="a#nymous"
/>
<link rel="stylesheet" href="/css/styles.css" />
<!-- FontAwesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Competidores</title>
  </head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <div class="">
      <div class="py-4 ml-5 mr-5">
        <div class="jumbotron text-white" style="background-color: #001f61">
          <h1>
            Bienvenido <a style="color: #ff7500"> [[${#httpServletRequest.remoteUser}]]</a
            ><img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px" />
          </h1>
          <hr class="my-4" />
          <h6 sec:authorize="hasRole('JUEZ')">
            En este apartado podrá agregar comentarios a los competidores.
          </h6>
        </div>
        <div class="card text-white" style="background-color: #ffffff2c">
          <h4 class="card-header text-white" style="background-color: #001f61" th:text="${titulo}"></h4>
          <div class="card-body table-responsive">
            <form th:action="@{/listarCompetidores}" method="get">
              <input type="text" name="keyword" th:value="${keyword}"  placeholder="Busqueda por nombre y apellido" size="50" >
              <button type="submit" class="btn btn-info" >Buscar</button>
              <button type="submit" class="btn btn-info" >Reiniciar</button>
              </form>
            <h4 class="card-title"></h4>
            <table class="table table-striped">
              <thead class="text-white">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Usuario</th>
                  <th>Disciplina</th>
                  <th>Plantel</th>
                  <th>Edad</th>
                  <th>Foto</th>
                  <th>Detalles</th>
                  <th sec:authorize="hasRole('ENTRENADOR')">Editar</th>
                  <th sec:authorize="hasRole('ENTRENADOR')">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="competidorPorDisciplina : ${competidores}">
                  <td th:text="${competidorPorDisciplina.id}">Nombre</td>
                  <td th:text="${competidorPorDisciplina.nombre}">Nombre</td>
                  <td th:text="${competidorPorDisciplina.paterno}">Apellido Paterno</td>
                  <td th:text="${competidorPorDisciplina.materno}">Apellido Materno</td>
                  <td th:text="${competidorPorDisciplina.usuario}">Usuario</td>
                  <td th:text="${competidorPorDisciplina.disciplina}">Disciplina</td>
                  <td th:text="${competidorPorDisciplina.plantel}">Plantel</td>
                  <td th:text="${competidorPorDisciplina.edad}">Edad</td>
                  <td th:text="${competidorPorDisciplina.foto}">Foto</td>
                  <td>
                    <a class="btn btn-info btn-sm" th:href="@{/verCompetidores/} + ${competidorPorDisciplina.id}"
                      ><i class="fa-solid fa-circle-info"></i> Detalles</a
                    >
                  </td>
                  <td sec:authorize="hasRole('ENTRENADOR')">
                    <a class="btn btn-warning btn-sm" th:href="@{/crear_competidor/} + ${competidorPorDisciplina.id}"
                      ><i class="fa-solid fa-pen-to-square"></i> Agregar Comentario</a
                     >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <div
      class="floating-text-jueces"
      style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"
    >
      <i class="fa-solid fa-medal" style="color: #ff7500"></i> Gestion de comentarios
    </div>
  </body>
</html>
